<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/jquery.min.js"></script>
</head>
<body>
    <input id="ajax" type="button" value="跨域ajax请求">
    <input id="jsonp" type="button" value="jsonp请求">
    <script>
        //同一域下的不同端口请求也算跨域请求
        $(function(){
            $('#ajax').click(function(){
                $.ajax({
                    type:'POST',
                    url:'http://127.0.0.1:8877/test/testJson.htm',
                    data:{id:1},
                    dataType:'json',
                    success:function(msg){
                        console.log(typeof(msg));
                        console.log(msg);
                    }
                })
            })

            $('#jsonp').click(function(){
                $.ajax({
                    type:'POST',
                    url:'http://127.0.0.1:8877/test/testJson.htm',
                    data:{id:2},
                    dataType:'jsonp',
                    success:function(msg){
                        console.log(typeof(msg));
                        console.log(JSON.stringify(msg));
                    }
                })
            })
        });
    </script>
</body>
</html>